@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/gilroy-medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Gilroy-Semibold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/gilroy-semibold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/gilroy-bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/gilroy-regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Inika-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/inika/Inika-Regular.ttf) format('truetype');
  }
}

:root {
  --login-bg: #EBC0B4;
  --primary-bg: #F9F8FD;
  --login-btn: #0D242A;
  --heading: #262626;
  --sec: #636363;
  --darkBtn: #F5F5F5;
  --label: #262626;
  --input-outline: #EBC0B4;
}

/* Colors should be inverted in dark theme. Here colors are not changed as no dark theme is available */
@media (prefers-color-scheme: dark) {
  :root {
    --login-bg: #EBC0B4;
    --primary-bg: #F9F8FD;
    --loginBtn: #0D242A;
    --heading: #262626;
    --sec: #636363;
    --darkBtn: #F5F5F5;
    --label: #262626;
    --input-outline: #EBC0B4;
  }
}


/* Global Styles */

.page {
  @apply flex flex-col items-center bg-primaryBg w-[100%] min-h-[calc(100vh-95px)] 2xl:px-32 lg:px-24 md:px-8 px-5 md:py-16 py-10 mt-[95px];
}

.sidemenu-page {
  @apply flex flex-col items-center bg-primaryBg w-[100%] min-h-[calc(100vh-95px)] lg:px-12 md:px-8 px-5 md:py-16 py-10 mt-[95px] lg:ml-[310px];
}

.content-wrapper {
  @apply w-[100%] max-w-[1600px];
}

/* Srollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #EBC0B4; /* Thumb color */
  border-radius: 4px; /* Rounded edges */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #EBC0B4; /* Thumb color on hover */
}

/* Carousel Styles */
.react-multi-carousel-list > button {
  border-radius: 10px;
}

/* when carousel items are less than 5, they will be centered */
.custom-container {
  justify-content: center;
}

.react-multiple-carousel__arrow {
  min-width: 25px !important;
  min-height: 25px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.react-multiple-carousel__arrow::before {
  font-size: 10px !important;
}

.react-multi-carousel-list .react-multiple-carousel__arrow--left  {
  left: calc(2% - 10px);
  z-index: 5;
}
.react-multiple-carousel__arrow--left::before {
  margin-left: -2px;
}

.react-multi-carousel-list .react-multiple-carousel__arrow--right {
  right: 2%;
  z-index: 5;
}
.react-multiple-carousel__arrow--right::before {
  margin-right: -2px;
}

@media (max-width: 767px) {
  .react-multi-carousel-list .react-multiple-carousel__arrow--left  {
    left: calc(3% - 10px);
  }
  .react-multi-carousel-list .react-multiple-carousel__arrow--right {
    right: 3%;
  }
}

@media (max-width: 639px) {
  .react-multi-carousel-list .react-multiple-carousel__arrow--left  {
    left: 2%;
  }
  .react-multi-carousel-list .react-multiple-carousel__arrow--right {
    right: 2%;
  }
  /* when carousel items are less than 5, they will be not be centered on small screens */
  .custom-container {
    justify-content: unset;
  }
}


/* admin dashboard */


/* datatable */
.dataTable-wrapper {
  @apply bg-white mt-[20px] pb-[20px] rounded-[16px] overflow-auto;
}

.dataTable-classes {
  @apply w-[100%];
}

table.dataTable > thead > tr,
table.dataTable > thead > tr > th
{
  /* height: 70px; */
  background-color: #fff;
  border-bottom: none;
}

table.dataTable thead th {
  color: #262626;
  font-size: 18px;
}

@media (max-width: 767px) {
  table.dataTable thead th {
    font-size: 16px;
  } 
}

/* left padding to table */
table.dataTable > thead > tr > th:first-child,
table.dataTable > tbody > tr > td:first-child
{
  padding-left: 30px;
}
table.dataTable > thead > tr > th:last-child .dt-column-order,
table.dataTable > tbody > tr > td:last-child
{
  padding-right: 30px;
}

@media (max-width: 767px) {
  table.dataTable > thead > tr > th:first-child,
  table.dataTable > tbody > tr > td:first-child
  {
    padding-left: 15px;
  }
  table.dataTable > thead > tr > th:last-child .dt-column-order,
  table.dataTable > tbody > tr > td:last-child
  {
    padding-right: 15px;
  }
}


/* Hide sorting icons for columns with the 'no-sort-icon' class */
th.no-sort-icon .dt-column-order {
  display: none;
}

/* bottom section showing entries, pagination etc */
.dt-layout-row {
  margin: 20px 0;
}

/* showing entries */
.dt-info {
  color: #7F7F7F !important;
  @apply font-gilroyMedium md:text-[22px] text-[16px] ms-[30px] mt-[20px];
}

/* pagination */
.dt-paging {
  @apply me-[30px] mt-[20px];
}

/* columns */
.all-columns {
  @apply bg-[#fff] md:h-[80px] h-[60px] border-b border-b-[#D4D4D4];
}

.prominent-column {
  @apply text-[#262626] font-gilroyMedium md:text-[18px] text-[16px];
}

.sec-column {
  @apply text-[#717171] font-gilroyMedium md:text-[16px] text-[14px];
}

/* admin list datatable */
.checkbox-column {
  @apply md:w-[25px] w-[20px] md:h-[25px] h-[20px] bg-[#fff];
}

/* restaurant owners datatable */
.dt-column-order {
  display: none;
}