@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Gilroy-Medium';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/gilroy-medium.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Gilroy-Semibold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/gilroy-semibold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/gilroy-bold.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/gilroy-regular.ttf) format('truetype');
  }
}

:root {
  --login-bg: #EBC0B4;
  --primary-bg: #F9F8FD;
  --login-btn: #0D242A;
  --heading: #262626;
  --sec: #636363;
  --darkBtn: #F5F5F5;
  --label: #262626;
  --input-outline: #EBC0B4;
}

/* Colors should be inverted in dark theme. Here colors are not changed as no dark theme is available */
@media (prefers-color-scheme: dark) {
  :root {
    --login-bg: #EBC0B4;
    --primary-bg: #F9F8FD;
    --loginBtn: #0D242A;
    --heading: #262626;
    --sec: #636363;
    --darkBtn: #F5F5F5;
    --label: #262626;
    --input-outline: #EBC0B4;
  }
}


/* Global Styles */

.page {
  @apply bg-primaryBg min-h-screen 2xl:px-32 lg:px-24 md:px-8 px-5 md:py-16 py-10;
}

/* Carousel Styles */
.react-multi-carousel-list > button {
  border-radius: 10px;
}

/* when carousel items are less than 5, they will be centered */
.custom-container {
  justify-content: center;
}

.react-multiple-carousel__arrow {
  min-width: 25px !important;
  min-height: 25px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.react-multiple-carousel__arrow::before {
  font-size: 10px !important;
}

.react-multi-carousel-list .react-multiple-carousel__arrow--left  {
  left: calc(2% - 10px);
  z-index: 5;
}
.react-multiple-carousel__arrow--left::before {
  margin-left: -2px;
}

.react-multi-carousel-list .react-multiple-carousel__arrow--right {
  right: 2%;
  z-index: 5;
}
.react-multiple-carousel__arrow--right::before {
  margin-right: -2px;
}

@media (max-width: 767px) {
  .react-multi-carousel-list .react-multiple-carousel__arrow--left  {
    left: calc(3% - 10px);
  }
  .react-multi-carousel-list .react-multiple-carousel__arrow--right {
    right: 3%;
  }
}

@media (max-width: 639px) {
  .react-multi-carousel-list .react-multiple-carousel__arrow--left  {
    left: 2%;
  }
  .react-multi-carousel-list .react-multiple-carousel__arrow--right {
    right: 2%;
  }
  /* when carousel items are less than 5, they will be not be centered on small screens */
  .custom-container {
    justify-content: unset;
  }
}

